rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    match /products/{id} {
      allow read, write: if signedIn();
    }
    match /customers/{id} {
      allow read, write: if signedIn();
    }
    match /invoices/{id} {
      allow read, write: if signedIn();
    }
    match /invoice_items/{id} {
      allow read, write: if signedIn();
    }
    match /payments/{id} {
      allow read, write: if signedIn();
    }
    match /categories/{id} {
      allow read, write: if signedIn();
    }
    match /settings/{id} {
      allow read, write: if signedIn();
    }
    match /business/{id} {
      allow read, write: if signedIn();
    }

    match /shares/{id} {
      allow read: if true;
      allow write: if signedIn();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
